<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Vue</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script defer src="app.js"></script>
</head>
<body>
    <div id="app-root">
        <div v-for="album in albums" class="album">
            <input type="text" v-model="firstName" />
            <input type="text" v-model="lastName" />
        </div>
        <button @click="reverse" v-if="showBUtton">Reverse</button>
        <h1>{{firstName + " " + lastName}}</h1>
    </div>
</body>
</html>